.khan__quote {
  text-align: left;
  font-weight: normal;
  color: #000;
  line-height: 34px;
  font-size: 24px;
  max-width: 790px; /* max-width, чтобы на малых экранах элемент не занимал всегда ровно 388px */
  width: 100%;
  margin: 50px 0 0;
}