.header__subtitle {
  position: absolute;
  text-align: left;
  max-width: 388px; /* max-width, чтобы на малых экранах элемент не занимал всегда ровно 388px */
  width: 100%;
  font-weight: normal;
  color: #000;
  line-height: 25px;
  font-size: 18px;
  bottom: 30px;
  left: 64px;
  z-index: 2;
  margin: 0;
}