.footer {
  display: flex; /* Теперь внутренние элементы занимают всю высоту блкоа, а align-items: stretch включилось по умолчанию */
  background-color: #1f1f1f;
  padding-top: 60px;
  padding-bottom: 40px;
  box-sizing: border-box;
  min-height: 350px; /* задано в соответствии со значением из брифа */
  margin: auto;
}
