@font-face {
  src: url(./Inter/Inter-Bold.woff) format('woff');
  font-family: 'Inter';
  font-weight: bold;
} 

@font-face {
  src: url(./Inter/Inter-Bold.woff2) format('woff2');
  font-family: 'Inter';
  font-weight: bold;
} 

@font-face {
  src: url(./Inter/Inter-Regular.woff) format('woff');
  font-family: 'Inter';
  font-weight: normal;
} 

@font-face {
  src: url(./Inter/Inter-Regular.woff2) format('woff2');
  font-family: 'Inter';
  font-weight: normal;
}

@font-face {
  src: url(./Inter/Inter-SemiBold.woff) format('woff');
  font-family: 'Inter';
  font-weight: 500;
} 

@font-face {
  src: url(./Inter/Inter-SemiBold.woff2) format('woff2');
  font-family: 'Inter';
  font-weight: 500;
} 

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Inter', 'Arial', sans-serif;
}

/* это убрать, когда все доверстаешь. Чисто для проверки
 div, h1, h2, h3, section {
  border: 1px solid red;
} */

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
}

.description {
  margin: 100px auto 0;
}

.two-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  margin: auto;
}

.two-columns__brief {
  display: flex;
  font-weight: normal;
  margin: 0;
  width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
}

.two-columns__main-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  min-width: 784px;
  margin: -15px 0;
}

.two-columns__paragraph {
  font-weight: normal;
  margin: 0;
  color: #000;
  line-height: 34px;
  font-size: 24px;
  margin: 15px 0;
}

.two-columns__span-accent {
  font-weight: 600;
  margin: 0;
  color: #000;
  line-height: 34px;
  font-size: 24px;
}

.digits {
  margin: 100px auto;
}

.section-title {
  text-align: center;
  width: 60%;
  margin: 0 auto 20px;
  font-weight: 600;
  color: #000;
  line-height: 1.15;
  font-size: 60px;
}

.section-title_theme_dark {
  text-align: center;
  width: 60%;
  margin: 0 auto 20px;
  font-weight: 600;
  color: #fff;
  line-height: 1.15;
  font-size: 60px;
}

.section-subtitle {
  text-align: center;
  width: 60%;
  margin: auto;
  font-weight: normal;
  color: #000;
  line-height: 34px;
  font-size: 24px;
}

.section-subtitle_theme_dark {
  text-align: center;
  width: 60%;
  margin: auto;
  font-weight: normal;
  color: #fff;
  line-height: 34px;
  font-size: 24px;
}

.table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
  margin: auto;
}

.table_theme_dark {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
  margin: auto;
}

.table__cell {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: 60px 0 0;
}

.table__cell_theme_dark {
  width: 200px;
  color: #fff;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading {
  font-weight: 600;
  margin: 0 0 20px;
  color: #000;
  line-height: 1.15;
  font-size: 24px;
}

.table__heading_theme_dark {
  font-weight: 600;
  margin: 0 0 20px;
  color: #fff;
  line-height: 1.15;
  font-size: 24px;
}

.table__text {
  font-weight: normal;
  margin: 0;
  color: #000;
  line-height: 1.2;
  font-size: 18px;
}

.table__text_theme_dark {
  font-weight: normal;
  margin: 0;
  color: #fff;
  line-height: 1.2;
  font-size: 18px;
}

.kaufman {
  background-color: #1f1f1f;
  padding-top: 90px;
  padding-bottom: 90px;
}