.khan__buy-link {
  text-align: left;
  text-decoration: none;
  margin: 0;
  font-weight: normal;
  color: #2f80ed;
  line-height: 42px;
  font-size: 30px;  
  transition: opacity .5s ease;
  height: fit-content; /* Размер сокращен, чтобы ховер работал только на строчку, а не всю высоту элемента*/
}

.khan__buy-link:hover {
  cursor: pointer;
  opacity: .75;
}